
@{
    ViewBag.Title = "DistributedMessage";
    Layout = "/Views/Shared/_Employeenav.cshtml";
}

<h2>DistributedMessage</h2>

<div class="container">
    <h2>Food has been Collected</h2>
</div>

<script>
    setTimeout(function () {
        window.location.href = '@Url.Action("AssignedCollectRequests", "Employee", new { userId = ViewBag.UserId })';
    }, 3000);
</script>
